{% extends "layout.html" %}

{% block body %}

    <h2>{{ team.name }} Kadro Kontrol Paneli</h2>
    {% if  team.footballer_set.count  > 0 %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">İsim</th>
                <th scope="col">Yaş</th>
                <th scope="col">Maaş</th>
                <th scope="col">Pozisyon</th>
                <th scope="col">Değer</th>
                <th scope="col">Güç</th>
                <th scope="col">Takım</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
            </tr>
            </thead>
            <tbody>

            {% for footballer in team.footballer_set.all %}
                <tr>
                    <th scope="row">{{ footballer.id }}</th>
                    <td>{{ footballer.name }}</td>
                    <td>{{ footballer.age }}</td>
                    <td>{{ footballer.salary }} M€</td>
                    <td>{{ footballer.position }}</td>
                    <td>{{ footballer.marketValue }} M€</td>
                    <td>{{ footballer.overall }}</td>
                    <td>{{ footballer.team.all.first }}</td>
                    <td><a href="{% url "updatefootballer" footballer.id %}" class="button">Güncelle</a></td>
                    <td><a href="{% url "deletefootballer" footballer.id %}" class="btn btn-danger">Sil</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">
            Sistemde henüz bir futbolcu bulunmuyor..
        </div>

    {% endif %}




{% endblock body %}